{
	email support@syncloud.it
	acme_ca {$ACME_CA}
	https_port 8443
	layer4 {
		:25 {
			route {
				smtp_starttls {
					hostname mx.{$REDIRECT_DOMAIN}
					upstream 127.0.0.1:10025
					default_sni mail.mx.{$REDIRECT_DOMAIN}
				}
			}
		}
		:465 {
			route {
				tls
				proxy 127.0.0.1:2465
			}
		}
		:443 {
			@sites tls sni {$RELAY_SITE_SNI}
			route @sites {
				proxy 127.0.0.1:8443
			}
			@relay tls sni relay.{$REDIRECT_DOMAIN}
			route @relay {
				proxy 127.0.0.1:7000
			}
			route {
				proxy 127.0.0.1:4443
			}
		}
	}
}

(syncloud_tls) {
	tls {
		dns route53
		resolvers {$DNS_RESOLVER}
	}
}

www.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	handle_path /api/* {
		reverse_proxy unix//var/www/redirect/redirect.www.socket
	}
	handle {
		root * /var/www/redirect/current/www
		try_files {path} /index.html
		file_server
	}
}

{$REDIRECT_DOMAIN} {
	import syncloud_tls
	redir https://www.{$REDIRECT_DOMAIN}{uri}
}

api.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	reverse_proxy unix//var/www/redirect/redirect.api.socket
}

mail-relay.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	respond 404
}

*.mx.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	respond 404
}

mail.mx.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	respond 404
}

{$SHOP_DOMAIN} {
	import syncloud_tls
	root * /var/www/shop/opencart

	@denied path_regexp \.(tpl|twig|ini|log)$
	respond @denied 403
	@denied_txt {
		path *.txt
		not path /robots.txt
	}
	respond @denied_txt 403
	@system {
		path /system/*
		not path *.js *.css
	}
	respond @system 403

	@seo {
		not file
		not path /index.php *.ico *.gif *.jpg *.jpeg *.png *.js *.css
		path_regexp seo ^/(.+)$
	}
	rewrite @seo /index.php?_route_={re.seo.1}&{query}

	php_fastcgi 127.0.0.1:9000
	file_server
}

{$GRAFANA_DOMAIN} {
	import syncloud_tls
	reverse_proxy localhost:3000
}

import /etc/caddy/conf.d/*.caddy
