{
	email support@syncloud.it
	acme_ca {$ACME_CA}
	https_port 8443
	layer4 {
		:25 {
			route {
				smtp_starttls {
					hostname mx.{$REDIRECT_DOMAIN}
					upstream 127.0.0.1:10025
					default_sni mail.mx.{$REDIRECT_DOMAIN}
				}
			}
		}
		:465 {
			route {
				tls
				proxy 127.0.0.1:2465
			}
		}
		:443 {
			@sites tls sni {$RELAY_SITE_SNI}
			route @sites {
				proxy 127.0.0.1:8443
			}
			@relay tls sni relay.{$REDIRECT_DOMAIN}
			route @relay {
				proxy 127.0.0.1:7000
			}
			route {
				proxy 127.0.0.1:4443
			}
		}
	}
}

(syncloud_tls) {
	tls {
		dns route53
		resolvers {$DNS_RESOLVER}
	}
}

www.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	handle_path /api/* {
		reverse_proxy unix//var/www/redirect/redirect.www.socket
	}
	handle {
		root * /var/www/redirect/current/www
		try_files {path} /index.html
		file_server
	}
}

{$REDIRECT_DOMAIN} {
	import syncloud_tls
	redir https://www.{$REDIRECT_DOMAIN}{uri}
}

api.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	reverse_proxy unix//var/www/redirect/redirect.api.socket
}

mail-relay.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	respond 404
}

*.mx.{$REDIRECT_DOMAIN} {
	import syncloud_tls
	respond 404
}

{$SHOP_DOMAIN} {
	import syncloud_tls
	redir https://www.{$REDIRECT_DOMAIN}/shop permanent
}

{$GRAFANA_DOMAIN} {
	import syncloud_tls
	reverse_proxy localhost:3000
}

import /etc/caddy/conf.d/*.caddy
