{
	email support@syncloud.it
	acme_ca {$ACME_CA}
}

www.{$REDIRECT_DOMAIN} {
	tls {
		dns route53
	}
	root * /var/www/redirect/current/www
	@api path /api/*
	reverse_proxy @api unix//var/www/redirect/redirect.www.socket
	try_files {path} /index.html
	file_server
}

{$REDIRECT_DOMAIN} {
	tls {
		dns route53
	}
	redir https://www.{$REDIRECT_DOMAIN}{uri}
}

api.{$REDIRECT_DOMAIN} {
	tls {
		dns route53
	}
	reverse_proxy unix//var/www/redirect/redirect.api.socket
}

{$STORE_DOMAIN}, {$STORE_API_DOMAIN} {
	tls {
		dns route53
	}
	reverse_proxy unix//var/www/store/api.socket
}

{$SHOP_DOMAIN} {
	tls {
		dns route53
	}
	root * /var/www/shop/opencart
	php_fastcgi 127.0.0.1:9000
	file_server
}

{$SITE_DOMAIN} {
	tls {
		dns route53
	}
	root * /var/www/syncloud.org/current
	try_files {path} /index.html
	file_server
}

{$GRAFANA_DOMAIN} {
	tls {
		dns route53
	}
	reverse_proxy localhost:3000
}
