Flask==0.10.1
flask-cors==1.2.1
flask-login==0.2.10
MySQL-python==1.2.3
SQLAlchemy==0.9.4
boto==2.32.0
urllib3==1.7.1
requests==2.2.1
configobj==4.7.2
mock==1.0.1
jsonpickle==0.7.1
statsd==3.2.1
syncloud-lib==2
IPy==0.83