[mysql]

host: localhost
user: root
passwd: root
db: redirect_test

[smtp]

host: email-smtp.us-west-2.amazonaws.com
port: 587
use_tls: true
login: @secret@
password: @secret@

[aws]

access_key_id: @secret@
secret_access_key: @secret@
hosted_zone_id: @secret@

[mail]

from: Syncloud No Reply<no-reply@syncloud.it>
device_error: support@syncloud.it
activate_url_template: https://www.syncloud.info/activate?token={0}
password_url_template: https://www.syncloud.info/reset?token={0}

[redirect]

domain: syncloud.info
activate_by_email: true
auth_secret_key: @secret@

# use mock only for testing
mock_dns: false

# testing deployment

[stats]
server: @secret@
prefix: redirect-uat

[api]
socket: /var/run/redirect.socket
