---
layout: default
title: User

main_menu_item: menu_user
---

<div class="container">
  <div id="has_domains" style="display: none;">
    <h2>Domains</h2>
    <br/>
    <div id="domains">
    </div>
  </div>
  <div id="no_domains" style="display: none;">
    <div class="row">
      <div class="col-2 col-md-2 col-sm-2 col-lg-2"><span/></div>
      <div class="col-8 col-md-8 col-sm-8 col-lg-8">
        <div class="jumbotron" style="margin: 40px">
          <h1>Get Domain!</h1>
          <p>You do not have domains registered yet. You can register one by building your own Syncloud server and linking it to your account.</p>
          <p style="text-align:center;">
            <a class="btn btn-primary btn-lg" href="http://syncloud.org" role="button">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-2 col-md-2 col-sm-2 col-lg-2"><span/></div>
    </div>
  </div>
</div>

<script type="text/html" id="domain_template">
<![CDATA[
  <% for (d=0; d < this.domains.length; d++) {
       var domain = this.domains[d]; %>

  <% if (d % 2 == 0) { %>
  <div class="row">
  <% } %>

    <div class="col-6 col-md-6 col-sm-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 style="margin-top: 5px; margin-bottom: 5px">
                <span>
                    <%= domain.user_domain %>.<%= domain.main_domain %>
                </span>
                <span class="pull-right">
                    <% if (domain.online) { %>
                        <span class="hidden-xs">Online</span> <span class="glyphicon glyphicon-ok-sign" style="color: green; top: 3px;"></span>
                    <% } else { %>
                        <span class="hidden-xs">Offline</span> <span class="glyphicon glyphicon-remove-sign" style="color: red; top: 3px;"></span>
                    <% } %>
                </span>
            </h3>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Address: <%= domain.nice_ip %></span>
            <span class="pull-right">Updated: <%= domain.nice_last_update %></span>
          </li>
        <% if (domain.services.length === 0) { %>
            <li class="list-group-item">
              <span>No services available</span>
            </li>
        <% } else { %>
          <% for (s=0; s < domain.services.length; s++) {
               var service = domain.services[s]; %>
              <li class="list-group-item" style="overflow: hidden">
                <div style="float: left">
                  <a href="<%= service.full_url %>">
                      <img src="<%= service.image %>" style="width: 64px; height: 64px; margin-right: 10px"/>
                  </a>
                </div>
                <h4><%= service.name %></h4>
                <span class="hidden-xs" ><a href="<%= service.full_url %>"><%= service.full_url %></a></span>
              </li>
          <% } %>
        <% } %>
        </ul>
      </div>
    </div>

  <% if (d % 2 == 1 || d == this.domains.length - 1) { %>
  </div>
  <% } %>
  <% } %>
]]>
</script>

<script type="text/javascript">

function sameDay(date1, date2) {
    var isSameDay = (date1.getDate() == date2.getDate()
                     && date1.getMonth() == date2.getMonth()
                     && date1.getFullYear() == date2.getFullYear());
    return isSameDay;
}

function online(ds) {
    if (ds === null) {
      return false;
    }

    var diff = new Date() - new Date(Date.parse(ds));
    var minutes = Math.floor((diff/1000)/60);

    return minutes < 10;
}

function niceTimestamp(ds) {
    if (ds === null) {
      return "never";
    }
    var d = new Date(Date.parse(ds));
    var today = new Date();
    var isSameDay = sameDay(today, d);
    var date_format = "MMM d, yyyy";
    if (isSameDay) {
        date_format = "'Today' hh:mm";
    }
    return $.format.date(d, date_format);
}

function niceIp(ip) {
    if (ip === null) {
      return "not mapped";
    }
    return ip;
}

function serviceImage(name) {
    switch (name.toLowerCase()) {
        case "owncloud":
            return "images/owncloud-64.png"
            break;
        case "ssh":
            return "images/ssh-64.png"
            break;
        default:
            return "images/unknown-64.png";
            break;
    }
}

function fullUrl(domain, service) {
    var url = service.protocol+"://device."+domain.user_domain+"."+redirect.main_domain+":"+service.port+"/"+service.url;
    return url;
}

function prepareUserData(user) {
    for (di = 0; di < user.domains.length; ++di) {
        var domain = user.domains[di];
        domain.nice_last_update = niceTimestamp(domain.last_update);
        domain.nice_ip = niceIp(domain.ip);
        domain.main_domain = redirect.main_domain;
        domain.online = online(domain.last_update);
        for (si = 0; si < domain.services.length; ++si) {
            var service = domain.services[si];
            service.image = serviceImage(service.name);
            service.full_url = fullUrl(domain, service);
        }
    }
}

$( document ).ready(function() {

    var url = redirect.web("user")

    var getting = $.get( url )
        .done( function(data) {
            var user = data;

            if (user.domains.length > 0) {
                $('#has_domains').show();
                $('#no_domains').hide();

                prepareUserData(user);

                for (di = 0; di < user.domains.length; ++di) {
                    var domain = user.domains[di];
                    $('#domains').append($('#domain_template').jqote(user));
                }
            } else {
                $('#has_domains').hide();
                $('#no_domains').show();
            }
        })
        .fail( function(xhr, textStatus, errorThrown) {
            if (xhr.status === 401) {
                window.location.href = "login.html";
            } else {
                window.location.href = "error.html";
            }
        });
});
</script>
