---
layout: default
title: User

main_menu_item: menu_user
---

<div class="container">
  <h2>Domains</h2>
  <br/>
  <div class="row">
    <div class="col-md-6" id="domains">
      </div>
  </div>

</div>

<script type="text/html" id="domain_template">
<![CDATA[
  <% for (d=0; d < this.domains.length; d++) {
       var domain = this.domains[d]; %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h3 style="margin-top: 5px; margin-bottom: 5px">
          <a href="http://<%= this.domains[d].user_domain %>.syncloud.it"><%= domain.user_domain %>.syncloud.it</a>
        </h3>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <span>Address: <%= domain.nice_ip %></span>
        <span class="pull-right">Updated: <%= domain.nice_last_update %></span>
      </li>
    <% if (domain.services.length === 0) { %>
        <li class="list-group-item">
          <span>No services available</span>
        </li>
    <% } else { %>
      <% for (s=0; s < domain.services.length; s++) {
           var service = domain.services[s]; %>
          <li class="list-group-item" style="overflow: hidden">
            <div style="float: left">
              <img src="<%= service.image %>" style="width: 64px; height: 64px; margin-right: 10px"/>
            </div>
            <h4><%= service.name %></h4>
            <span><a href="<%= service.full_url %>"><%= service.full_url %></a></span>
          </li>
      <% } %>
    <% } %>
    </ul>
  </div>
  <% } %>
]]>
</script>

<script type="text/javascript">

function sameDay(date1, date2) {
    var isSameDay = (date1.getDate() == date2.getDate()
                     && date1.getMonth() == date2.getMonth()
                     && date1.getFullYear() == date2.getFullYear());
    return isSameDay;
}

function niceTimestamp(d) {
    var today = new Date();
    var isSameDay = sameDay(today, d);
    var date_format = "MMM d, yyyy";
    if (isSameDay) {
        date_format = "'Today' hh:mm";
    }
    return $.format.date(d, date_format);
}

function niceIp(ip) {
    if (ip === null) {
      return "not mapped";
    }
    return ip;
}

function serviceImage(name) {
    switch (name) {
        case "ownCloud":
            return "images/owncloud-64.png"
            break;
        case "SSH":
            return "images/ssh-64.png"
            break;
        default:
            return null;
            break;
    }
}

function fullUrl(domain, service) {
    var url = service.protocol+"://"+domain.user_domain+"."+redirect.main_domain+":"+service.port+"/"+service.url;
    return url;
}

$( document ).ready(function() {

    var url = redirect.web("user")

    var getting = $.get( url )
        .done( function(data) {
            var user = data;

            for (di = 0; di < user.domains.length; ++di) {
                var domain = user.domains[di];
                var last_update_date = new Date(Date.parse(domain.last_update));
                domain.nice_last_update = niceTimestamp(last_update_date);
                domain.nice_ip = niceIp(domain.ip);
                for (si = 0; si < domain.services.length; ++si) {
                    var service = domain.services[si];
                    service.image = serviceImage(service.name);
                    service.full_url = fullUrl(domain, service);
                }
            }

            $('#domains').append($('#domain_template').jqote(user));
        })
        .fail( function(xhr, textStatus, errorThrown) {
            if (xhr.status === 401) {
                window.location.href = "login.html";
            } else {
                window.location.href = "error.html";
            }
        });
});
</script>
