[Unit]
Description=Redirect

[Service]
ExecStart=/var/www/redirect/current/bin/redirect /var/www/redirect/config.cfg /var/www/redirect/secret.cfg
Restart=always

[Install]
WantedBy=multi-user.target
