[Unit]
Description=Redirect

[Service]
ExecStart=/var/www/redirect/current/bin/www
Restart=always
User=redirect

[Install]
WantedBy=multi-user.target
