[Unit]
Description=Redirect

[Service]
ExecStart=/var/www/redirect/current/bin/api /var/www/redirect/config.cfg /var/www/redirect/secret.cfg /var/www/redirect/current/emails
Restart=always

[Install]
WantedBy=multi-user.target
