{
	email support@syncloud.it
}

# --- redirect ---
www.syncloud.it {
	tls {
		dns route53
	}
	root * /var/www/redirect/current/www
	@api path /api/*
	reverse_proxy @api unix//var/www/redirect/redirect.www.socket
	try_files {path} /index.html
	file_server
}

syncloud.it {
	tls {
		dns route53
	}
	redir https://www.syncloud.it{uri}
}

api.syncloud.it {
	tls {
		dns route53
	}
	reverse_proxy unix//var/www/redirect/redirect.api.socket
}

# --- store ---
store.syncloud.org, api.store.syncloud.org {
	tls {
		dns route53
	}
	reverse_proxy unix//var/www/store/api.socket
}

# --- shop (opencart, php) ---
shop.syncloud.org {
	tls {
		dns route53
	}
	root * /var/www/shop/opencart
	php_fastcgi 127.0.0.1:9000
	file_server
}

# --- syncloud.org site ---
syncloud.org, www.syncloud.org {
	tls {
		dns route53
	}
	root * /var/www/syncloud.org/current
	try_files {path} /index.html
	file_server
}
