[mysql]

host: localhost
user: root
passwd:
db: redirect

[smtp]

host: localhost
port: 2500

[mail]

#Activation email form field
from: support@redirect.com
activate_url_template: http://redirect.com/user/activate?token={0}
password_url_template: http://redirect.com/user/password?token={0}

[redirect]

domain: redirect.com
#Send activation token by email (True) or return as Token header (False)
activate_by_email: true
auth_secret_key: 123456790

# use mock only for testing
mock_dns: true