[mysql]

host: localhost
user: [mysql db user]
passwd: [mysql db password]
db: redirect

[smtp]

host: localhost
port: 25

[aws]

access_key_id: [amazon access key]
secret_access_key: [amazon secret access]
hosted_zone_id: [amazon hosted zone id]

[mail]

#Activation email form field
from: support@example.com

[redirect]

domain: [domain for dynamic dns]
#Send activation token by email (True) or return as Token header (False)
activate_by_email: true
activate_url_template: http://redirect.com/user/activate?token={0}
auth_secret_key: 123456790

# use mock only for testing
mock_dns: false