.navbar-brand {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
  font-size: 32px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-brand span {
  padding-left: 10px;
}


.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0px;
    font-size: 18px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 24px;
    height: 24px;
    padding-top: 0px;
    font-size: 14px;
  }
}
